body {
    padding: 0;
    margin: 0;
}

main {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9F63D1;
}

.ligne {
    display: flex;
    background-color: white;
    width: 100vw;
    justify-content: center;
}

.ligne > a > img {
    height: 50px;
    position: absolute;
    left: 12px;
    top: 150px;
}

#boiteANounours {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #9F63D1;
}

.nounours {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    border: 1px solid #f0e5dc;
    border-radius: 10px;
    padding: 10px;
    margin: 30px 10px 30px 10px;
    background-color: #f0e5dc;
    overflow: hidden;
}

.imgNounours {
    height: 250px;
    margin-top: -15px;
}

.titrePrix {
    display: flex;
    width: 25vw;
    justify-content: space-around;
}

.button {
    padding: 10px;
    color: white;
    background-color: black;
    border-radius: 10px;
    text-decoration: none;
    margin: 40px 0 20px 0;
    cursor: pointer;
}

.button:hover {
    background-color: #9F63D1;
}

label {
    margin-bottom: 9px;
}

select#color {
    padding: 10px;
    border-radius: 10px;
    padding-top: 15px;
}

div.nounours > img {
    height: 250px;
    width: auto;
    margin-top: -15px;
}

.message {
    color: white;
}

.spanSuccessMessage {
    font-family: 'Finger Paint', cursive;
    font-size: 16px;
    padding-bottom: 20px;
}

@media (max-width: 800px) {
    div.nounours {
        width: 87vw;
    }
    .ligne > a > img {
        height: 30px;
        left: 11px;
        top: 196px;
    }
    div.ligne {
        padding-bottom: 40px;
    }
    #desciptionNounours {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}