body {
   padding: 0;
   margin: 0;
}

main {
    text-align: center;
}

#boiteANounours {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #9F63D1;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.nounours {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    border: 1px solid #f0e5dc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: #f0e5dc;
    overflow: hidden;
}

.imgNounours {
    height: 250px;
    margin-top: -15px;
}

.titrePrix {
    display: flex;
    width: 25vw;
    justify-content: space-around;
}

.voirPlus {
    padding: 10px;
    color: white;
    background-color: black;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}

.voirPlus:hover {
    background-color: #9F63D1;
}

@media (max-width: 800px) {
    .nounours {
        width: 90vw;
    }
    .titrePrix {
        width: 90vw;
        justify-content: space-between;
    }
}